<!DOCTYPE html>
<html>
<head>
    <title>Photodit</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="../public/styles/reset-css.css" rel="stylesheet">
    <link href="../public/styles/index-css.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap" rel="stylesheet">
</head>
<body>

    <div class="header">
        <p>Photodit</p>
    </div>

    <p style="font-size: 20px;">Log In</p>
    <form action="/login" id="login-form" method="post">
        <input type="text" name="uname" id="log-uname" placeholder="Username" required><br>
        <input type="password" name="password" id="log-password" placeholder="Password" required><br>
        <input type="button" value="Log In" onclick="login()">
    </form>

    <br>

    <p style="font-size: 20px;">Register</p>
    <form action="/register" id="register-form" method="post">
        <input type="text" name="uname" id="reg-uname" placeholder="Username" required><br>
        <input type="email" name="email" id="reg-email" placeholder="Email"><br>
        <input type="password" name="password" id="reg-password" placeholder="Password" required><br>
        <input type="password" id="reg-password-rep" placeholder="Repeat Password" required><br>
        <input type="button" value="Register" onclick="register()">
    </form>

    <script src="../public/scripts/index-script.js"></script>
</body>
</html>
