<html>
<head>
    <title>Search</title>

    <link href="../public/styles/reset-css.css" rel="stylesheet">
    <link href="../public/fonts/fonts.css" rel="stylesheet">
    <link href="../public/styles/search-css.css" rel="stylesheet">
</head>
<body>
    <script src="../public/scripts/helper-script.js"></script>
    <script src="../public/scripts/search-script.js"></script>
</body>
</html>
