<!DOCTYPE html>
<html>
<head>
    <title><%= USERNAME %> | Photodit</title>
    <meta charset="utf-8">

    <link href="../public/styles/reset-css.css" rel="stylesheet">
    <link href="../public/fonts/fonts.css" rel="stylesheet">
    <link href="../public/styles/user-css.css" rel="stylesheet">    
</head>
<body>
    <header>
        <div class="logo-link">
            <a href="/profile">Photodit</a>
        </div>
        <div></div>
    </header>

    <div class="front-data">
        <div class="front-data-followings">
            <button onclick="closeFList1()">Close</button>
            <div id="f-d-followings"></div>
        </div>
        <div class="front-data-followers">
            <button onclick="closeFList2()">Close</button>
            <div id="f-d-followers"></div>
        </div>
    </div>

    <div class="center">
        <div class="user-info">
            <div></div>
            <div class="number-data">
                <div class="number-data-1">
                    <p title="Followers of this User" onclick="showFollowings()">
                        <span id="num-data-followings">0</span> Followings
                    </p>
                    <p title="Followings by this User" onclick="showFollowers()">
                        <span id="num-data-followers">0</span> Followers
                    </p>
                </div>
                <div class="number-data-2">
                    <p title="Number of All Public and Protected Photos"><span id="num-data-photos">0</span> Photos</p>
                    <p title="Number of Likes on All Public and Protected Photos"><span id="num-data-likes">0</span> Likes</p>
                    <p title="Number of Comments on All Public and Protected Photos"><span id="num-data-comments">0</span> Comments</p>
                </div>
            </div>
        </div>
        <div class="images-list"></div>
    </div>

    <script src="../public/scripts/user-script.js"></script>
</body>
</html>
