body {
    background-color: whitesmoke;
}

header {
    position: fixed;
    height: 50px;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 32px;
    font-family: 'SansitaSwashed', sans-serif;
    background-color: rgba(5, 122, 95, 1);
    z-index: 100;
}

header a {
    text-decoration: none;
    color: white;
    display: block;
    margin-top: 6px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.center {
    margin: 0 auto;
    position: relative;
    top: 70px;
    width: 1100px;
}

.result-output {
    height: 260px;
    top: 80px;
}

.result-output p {
    width: 100%;
    text-align: center;
    font-size: 42px;
    font-family: 'Roboto', sans-serif;
    color: #A9A9A9;
    padding: 98px 0;
}

.content {
    min-height: 300px;
    top: 70px;
    margin-bottom: 40px;
    background-color: aqua;
}

.image-info {
    margin-top: 10px;
    width: 100%;
    height: 200px;
}

.content-username {
    display: block;
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    width: 95%;
    margin: 25px auto;
}

.content-username span {
    font-size: 34px;
    color: #c5c5c5;
}

.content-like {
    display: block;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    width: 95%;
    margin: 15px auto;
    color: #c5c5c5;
}

.content-like output {
    color: black;
}

.content-like-list:hover {
    text-decoration: underline;
    cursor: pointer;
}

.content-time {
    display: block;
    width: 95%;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #c5c5c5;
    margin: 40px auto;
    text-align: right;
}

.content-desc {
    position: relative;
    width: 94%;
    top: 16px;
    left: 2%;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
    padding: 9px 9px;
    border-radius: 4px;
}

.photo-author {
    text-decoration: none;
    color: rgba(5, 122, 95, 1);
}

.image {
    display: block;
    margin: 40px auto;
    max-width: 1000px;
    max-height: 1400px;
    margin-bottom: 20px;
}

.result-output, .content {
    margin: 0 auto;
    width: 100%;
    background-color: white;
}

.content, .result-output, .comments {
    box-shadow: 7px 6px 4px #D0D0D0;
}

.comments {
    position: relative;
    top: 20px;
    left: 50px;
    width: 1000px;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
}

.comment-inputs {
    width: 100%;
    height: 90px;
    display: grid;
    grid-template-columns: 84% auto;
}

#comment-input {
    position: relative;
    margin: 0 auto;
    top: 10px;
    left: 20px;
    height: 70px;
    width: 780px;
    resize: none;
    outline: none;
    overflow: auto;
    border: none;
    outline: none;
    border: 1px solid;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 17px;
    padding: 4px;
}

#comment-button {
    position: relative;
    top: 18%;
    width: 76%;
    height: 64%;
    font-size: 19px;
    color: white;
    background: rgba(5, 122, 95, 0.8);
    cursor: pointer;
    border-radius: 6px;
    box-shadow: none;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.comment-num-refresh {
    width: 100%;
    height: 50px;
    color: #C1C1C1;
    font-family: 'Roboto', sans-serif;
}

.comment-number {
    float: left;
    margin-top: 15px;
    margin-left: 5%;
    font-size: 20px;
}

.comment-refresh {
    float: right;
    margin-top: 16px;
    margin-right: 6%;
    cursor: pointer;
    font-size: 18px;
}

.comment-refresh i {
    font-size: 17px;
}

.comment-refresh:hover {
    text-decoration: underline;
}

.comments-loader {
    display: none;
    position: relative;
    top: 35px;
    width: 100%;
    height: 150px;
    text-align: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.comments-loader p {
    margin-top: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #DCDCDC;
}

.comments-loader-spin {
    margin: 0 auto;
    border: 7px solid #f3f3f3;
    border-top: 7px solid #D3D3D3;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: comments-loader-spin 1s linear infinite;
}

@keyframes comments-loader-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.comments-list {
    background-color: white;
}

.not-found-coms {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
    color: #BABABA;
}

.comment-box {
    position: relative;
    width: 90%;
    margin-top: 10px;
    margin-left: 5%;
    min-height: 90px;
    border: 1px solid #A9A9A9;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
}

.comment-box-user {
    width: 100%;
    height: 52px;
}

.comment-box-data {
    display: grid;
    grid-template-columns: 110px auto;
}

.comment-box-img {
    margin: 5px auto;
    width: 80px;
    height: 80px;
    border-radius: 4px;
    overflow: hidden;
}

.comment-box-img-p {
    text-align: center;
    color: white;
    font-size: 36px;
    padding: 22px 0;
}

.settings {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.settings p {
    width: 100%;
    font-size: 15px;
    cursor: pointer;
}

.settings p i {
    font-size: 14px;
}

.comment-box-user a {
    float: left;
    margin-top: 14px;
    margin-left: 18px;
    font-size: 22px;
    color: rgba(5, 122, 95, 1);
    text-decoration: none;
}

.comment-box-user span {
    float: right;
    font-size: 17px;
    margin-top: 17px;
    margin-right: 18px;
    color: #C0C0C0;
}

.comment-box-text {
    width: 95%;
    min-height: 90px;
    max-height: 160px;
    margin-bottom: 10px;
    overflow: auto;
    border-radius: 4px;
    white-space: pre-wrap;
    background: whitesmoke;
    padding: 10px 10px;
}

.overflow-content {
    width: 400px;
    height: 500px;
    background-color: white;
    border: 1px solid;
    border-radius: 2px;
    position: fixed;
    overflow: auto;
    z-index: 100000;
    top: 100px;
    left: calc(50% - 200px);
    display: none;
}

.overflow-content button {
    border: none;
    cursor: pointer;
    font-size: 17px;
    padding: 5px 7px;
}
.overflow-content button:hover {
    color: white;
    background-color: rgba(5, 122, 95, 1);
}

#like-button {
    position: relative;
    top: -4px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    padding: 8px 12px;
    border-radius: 3px;
}

#likes-list {
    width: 100%;
    margin-top: 2%;
    height: 90%;
    overflow: auto;
}

.likes-list-loading {
    display: block;
    width: 100%;
    height: 20px;
    text-align: center;
    padding: auto 10px;
}

.liker-list-item {
    margin: 2px auto;
    display: block;
    text-decoration: none;
    color: black;
    width: 90%;
    background-color: whitesmoke;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    padding: 9px 10px;
    border-radius: 2px;
}

.liker-list-item:hover {
    background-color: #E6E6E6;
}
