/*
    Overload some sites
*/
.front-data-update-window {
    display: none;
    position: fixed;
    width: 450px;
    height: 500px;
    background-color: white;
    z-index: 10000;
    top: 100px;
    left: calc(50% - 225px);
    border: 1px solid #979797;
    border-radius: 3px;
}

.front-data-update-window-form {
    display: grid;
    width: 82%;
    position: relative;
    margin: 5px auto;
}

.front-data-update-window-form label {
    margin-top: 4px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.front-data-update-window-form input, .front-data-update-window-form textarea {
    margin-top: 6px;
    font-size: 17px;
    padding: 3px;
    font-family: 'Roboto', sans-serif;
}

.front-data-update-window-form textarea {
    font-size: 16px;
    overflow-x: auto;
    overflow-y: auto;
    resize: none;
    height: 150px;
    font-size: 16px;
}

.front-data-update-window-form input[type=submit] {
    margin: 7px auto;
    width: 60%;
    height: 36px;
    cursor: pointer;
}

.front-data-update-window-copy-url {
    font-size: 15px;
    position: relative;
    width: 140px;
    top: 10px;
    left: 155px;
}

.user-info {
    margin-top: 60px;
    grid-template-rows: 34px auto 130px;
}

.user-info-update-profile {
    width: 20%;
    position: relative;
    top: -34px;
    border-radius: 0;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 7px 0px 4px #D0D0D0;
}

.image-uploading {
    position: relative;
    top: 30px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 7px 6px 4px #D0D0D0;
    width: 100%;
    height: 150px;
    font-family: 'Roboto', sans-serif;
}

.image-uploading form {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 320px auto;
}

.image-uploading-div {
    margin: 15px;
    display: grid;
    text-align: center;
}

.image-uploading form textarea {
    margin: 16px;
    resize: none;
    outline: none;
    font-size: 16px;
    overflow-x: scroll;
    overflow-y: scroll;
    padding: 3px;
}

.image-uploading form input[type=submit] {
    margin: 0 auto;
    position: relative;
    top: 10px;
    width: 80%;
    height: 32px;
    font-size: 16px;
    cursor: pointer;
}

.front-data-update-window-form input[type=submit], .user-info-update-profile,
.image-uploading form input[type=submit] {
    color: white;
    background-color: rgb(5, 122, 95);
    outline: none;
    border: none;
}

.user-username {
    grid-template-columns: auto;
}
